@charset "utf-8";

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

.date{
	background:#FFF url(../images/cal.png) no-repeat;
	padding-left:20px;
}

/* calendar root element */
#calroot {
    /* place on top of other elements. set a higher value if nessessary */
    z-index:99999;
    background:#fff url(../images/cal_bg.jpg) no-repeat right 0;
    border:1px solid #999;
    padding-top:10px;
    width:227px;    
    display:none;
	margin:-3px 20px;     
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {  
    padding:2px 0;
    height:22px;
} 

#caltitle {
    font-size:14px;
    color:#0150D1;  
    float:left;
    text-align:center;
    width:160px;
    line-height:20px;
    text-shadow:0 1px 0 #ddd;
}

#caltitle select{
	width:auto;
}

#calnext, #calprev {
    display:block;
    width:20px;
    height:20px;
    background:transparent url(../images/cal_prev.gif) no-repeat scroll center center;
    float:left;
    cursor:pointer;
    margin-left:9px;
}

#calnext {
    background-image:url(../images/cal_next.gif);
    float:right;
    margin-right:9px;
}

#calprev.caldisabled, #calnext.caldisabled {
    visibility:hidden;  
}

/* year/month selector */
#caltitle select {
    font-size:10px; 
}

/* names of the days */
#caldays {
    height:14px;
    border-bottom:1px solid #ddd;
}

#caldays span {
    display:block;
    float:left;
    width:32px;
    text-align:center;
    font-size:11px;
}

/* container for weeks */
#calweeks {
    background-color:#fff;
    margin-top:4px;
}

/* single week */
.calweek {
    clear:left;
    height:22px;
}

/* single day */
.calweek a {
    display:block;
    float:left;
    width:31px;
    height:20px;
    text-decoration:none;
    font-size:11px;
    margin-left:1px;
    text-align:center;
    line-height:20px;
    color:#666;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;      
} 

/* different states */
.calweek a:hover, .calfocus {
    background-color:#ddd;
}

/* sunday */
a.calsun {
    color:red;      
}

/* offmonth day */
a.caloff {
    color:#ccc;     
}

a.caloff:hover {
    background-color:rgb(245, 245, 250);        
}


/* unselecteble day */
a.caldisabled {
    background-color:#efefef !important;
    color:#ccc  !important;
    cursor:default;
}


/* current date */
#calcurrent {
    background-color:#498CE2;
    color:#fff;
}

/* today */
#caltoday {
    background-color:#999;
    color:#fff;
}

