#callregindex{
	top: 96px;
	right: 0px;
	width: 40px;
	position: absolute;
	z-index: 998;
}

#callregindex .cllr_activate_button{
	position: absolute;
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-right: 0;
	left: -1px;
}

#callregindex #cllr_activate_button{
	top: 45px;
	border-color: #090;
}

#callregindex #cllr_activate_button2{
	top: 90px;
	border-color: #000;
}

#callregindex #cllr_activate_button3{
	top: 134px;
	border-color: #000;
}

#cllr_activate_button img{
	width: 40px;
}

#callregindex .cllr_content{
	background-color: #FCFCFC;
	border: 1px solid #999;
	display:none;
	min-height: 200px;
	position:relative;
}

.cllr_content .cllr_data{
	max-height:450px;
	overflow: auto;
}

.cllr_content .cllr_title{
	background: url('../images/header-background.png') repeat scroll bottom #3D77A9;
	padding: 10px 5px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.cllr_content .cllr_toolbar{
	background: #DDD;
	border-bottom: 1px solid #CCC;
}

#callregindex .cllr_reload{
	background-image: url(../images/reload.png);
}