.small{
	font-size:0.6em;
}

.ind_group_head{
	text-align:left;
	background:#FDFDFD;
	border-bottom:1px solid #EEE;
	font-weight:bold;
	padding:3px 20px;
	cursor:pointer;
}

.ind_group_body{
	border:1px solid #F6F6F6;
	border-top-width:0;
}

.indicador{
	width:220px;
	color:#333333;
	float:left;
	margin:15px;
}

.indicador a{
	text-decoration:underline;
}

.ind_header{
	font-weight:bold;
	background:url(../images/indicador_bg-head.png) no-repeat;
	padding-top:5px;
	height:19px;
	cursor:pointer;
}

.ind_body{
	border:1px solid #adbece;
	text-align:left;
}

.ind_subhead{
	color:#444;
	margin-left:10px;
	margin-right:2px;
	margin-bottom:20px;
	border-bottom:1px solid #adbece;
	padding-top:6px;
}

.ind_verde{
	background:url(../images/indicador_verde.png) no-repeat;
	height:21px;
	margin-left:10px;
	padding-left:30px;
}

.ind_rojo{
	background:url(../images/indicador_rojo.png) no-repeat;
	height:21px;
	margin-left:10px;
	padding-left:30px;
	font-weight:bold;
	background-color:#FFF2F2;
}

.ind_ambar{
	background:url(../images/indicador_ambar.png) no-repeat;
	height:21px;
	margin-left:10px;
	padding-left:30px;
}

.ind_foot{
	padding:2px;
	text-align:right;
	background-color:#F8F8F8;
	border-top:1px solid #F0F0F0;
}