@charset "utf-8";
body{
	margin:0;
	padding:0;
	font-family: "Calibri", "Eras Bold ITC";
	font-size:13px;
}

.caltrigger{
	background-image: url(../images/cal.png) !important;
	background-repeat: no-repeat !important;
	background-position: top center !important;
	padding: 5px 12px !important;
	margin: 0 !important;
}

a:link,a:visited{
text-decoration:none;
color:#666;
}

img{
	border:0;
}

strong{
	font-size:1.1em;
}

.left{
	float:left;
	max-width:400px;
}

.right{
	float:right;
}

.center{
	display:block;
	text-align:center;
}

.clear{
	clear:both;
}

.hidden{
	display:none;
}

#header{
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	width:100%;
	background:#3d77a9 url(../images/header-background.png);
	border-bottom:1px solid #255075;
	height:70px;
	color:#FFF;
	font-family:arial,helvetica,sans-serif;
}

#logo{
	height:30px;
	width:200px;
	float:left;
	background:url(../images/logo.png) no-repeat center;
}

#header #header_menu{
	height:45px;
	width:550px;
	margin:auto;
}

#header .header_menu_item{
	float:left;
	font-size:12px;
	position:relative;
}

#header .header_menu_item a{
	line-height:45px;
	height:50px;
	padding:10px 20px;
	text-shadow:#777 -1px 0 2px;
	font-weight:bold;
	border:1px solid transparent;
}

#header .menu_content{
	background:#FFF;
	color:#000;
	padding:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #AAA;
	position:absolute;
	top:40px;
	min-width:300px;
	display:none;
}

#header .header_menu_item a:hover{
	color:#EEE;
	border-left: 1px solid #6394bf;
	border-right: 1px solid #6394bf;
	background:url(../images/menu-arrow.png) no-repeat center 25px;
}

#header_links{
	float:right;
	padding:5px 20px;
	font-size:10px;
	line-height:10px;
}

#header a{
	color:#FFF;
}

#access_id_src{
	float:right;
	margin:10px;
	border:4px solid #CCC;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:3px;
	padding-right:20px;
	background:#EEE url(../images/searchbtn.png) no-repeat right center;
}

#header .country{
	font-size:40px;
	display:inline;
	color:#FFF;
	margin:0;
	padding:0;
}

#secc_bar{
	background: #EEE url(../images/secc_bar_icon.png) no-repeat 10px;
	font-family:arial,helvetica,sans-serif;
	font-size: 14px;
	color:#06F;
	padding:4px 0;
	padding-left:30px;
	position:fixed;
	top:70px;
	width:100%;
	z-index:990;
	border-bottom:1px solid #E0E0E0;
}

.overlay .secc_bar{
	background: #3d709a url(../images/secc-bar-bg.jpg) repeat-x top center;
	font-family:arial,helvetica,sans-serif;
	font-size: 13px;
	font-weight:bold;
	color:#FFF;
	padding:7px 0;
	padding-left:20px;
	margin-bottom:5px;
	border-bottom:1px solid #2c5b83;
	border-radius: 10px 10px 0 0;
}

#secc .secc_bar{
	background: #EEE url(../images/secc_bar_icon.png) no-repeat center left;
	font-family:arial,helvetica,sans-serif;
	font-size: 14px;
	color:#06F;
	padding:4px 0;
	padding-left:20px;
	border-bottom:1px solid #E0E0E0;
}

#secc{
	position:fixed;
	padding:8px;
	padding-top:70px;
	width:165px;
	height:400px;
}

#content{
	padding-top:88px;
	padding-left:170px;
}

.inputtext,.inputrut{
	border:1px solid #AFAFAF;
	padding:3px;
	margin:2px;
	min-height:18px;
	/*background:#FFF url(../images/input.png) repeat-x 0 0;
	border-bottom:1px solid;
	border-left:3px solid;
	border-right:1px dotted;
	border-top:1px dotted;
	border-color:#B1C4E2;
	padding:2px;	
	margin:2px;*/
}

.invalid{
	border-color:#FF0000 !important;
}

.alert{
	padding:7px 0 7px 35px;
	background:#FFFFBF url(../images/alert.png) no-repeat !important;
	border:1px dashed #DDD;
}

.info{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:32px;
	padding-right:10px;
	background:#D1DBFC url(../images/info.png) no-repeat;
	border:1px solid #ABBDFA;
	border-bottom-width:1px;
	color:#003;
	text-transform:uppercase;
}

.confirm{
	padding:5px 0 5px 35px !important;
	background:#E7FED6 url(../images/confirm.png) no-repeat !important;
	color:#030;
	border:1px dashed #DDD;
}

.warning{
	padding:5px 35px;
	background:#FFF url(../images/warning.png) no-repeat;
	border:1px dashed #DDD;
}

.inputsearch{
	background:#FFF url(../images/inputsearch.png) no-repeat;
	border:1px solid #DDD;
	border-left-width:2px;
	border-right-width:2px;
	padding: 2px 18px;
	font-weight:bold;
}

#main_cont{
	border:1px solid #EEE;
	border-right-width:0;
	padding:10px;
}

#loader{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-32px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

#footer{
background:#EEE;
color:#333;
width:100%;
text-align:center;
position:fixed;
bottom:0;
}

.opciones img{
margin: 5px 20px;
border:1px solid #EEE;
background:#F5F5F5;
padding:3px;
}

.tooltip{
	margin-top:10px;
	display:none;
	background:url(../images/black_arrow.png) no-repeat;
	color:#FFF;
	font-weight:bold;
	width:145px;
	height:48px;
	text-align:center;
	padding-top:15px;
}

#tabs,.manual_tab{
list-style:none;
width:100%;
margin:auto;
padding:5px;
}

.lite{
	background-color:#EEE;
}

#tabs li,.manual_tab li{
	float:left;
	padding:0;
}

#tabs .current,.manual_tab .current{
	background-color:#F3F3F3 !important;
	color: #000 !important;
	border-bottom-color: #F3F3F3 !important;
}

#tabs a:link,#tabs a:visited,.manual_tab a:link,.manual_tab a:visited{
	height:20px;
	display:block;
	padding:2px 10px;
	margin-right:2px;
	background:#777;
	color:#FFF;
	border-left:1px solid #888;
	border-bottom:1px solid #888;
	border-top:3px solid #FB8004;
	border-right:1px solid #888;
}

.panes{
	/*border:5px solid #F3F3F3;*/
	background:#EEE;
	padding:2px;
	width:96%;
	margin:auto;
}

.panes fieldset, .tabpanes fieldset{
	padding:5px;
}

form fieldset, fieldset.decorated{
	background:#F9F9F9 url(../images/form-bg.jpg);
	border: 1px solid #CFCFCF;
	margin-bottom:3px;
}

label{
	line-height:20px;
	vertical-align:bottom;
	font-size:11px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}

#other_options{
	font-size:11px;
	font-weight:bold;
	padding:0 10px;
	background:url(../images/tab_bg.png) repeat-x;
	border:1px solid #0B3C77;
	height:30px;
	line-height:22px;
}

.oo_active{
	background:url(../images/oo_active.png) repeat-x;
}

#other_options ul{
	margin:0;
	padding:0;
	list-style:none;
}

#other_options li{
	float:left;
	background-repeat:no-repeat;
	background-position:5px center;
	border:1px solid #073D78;
	margin:3px 1px;
	min-width:90px;
	-webkit-box-shadow:#003 1px 1px 3px;
	position:relative;
}

#other_options li img{
	width:18px;
	height:18px;
	margin-left:-27px;
	margin-bottom:-6px;
}

#other_options a:link,#other_options a:visited{
	background:url(../images/oo_normal.png);
	display:block;
	padding:0 30px;
	color:#D3E7FA;
}

#other_options a:hover,#other_options a:active{
	color:#FFF;
	-webkit-transition: background 0.2s ease-in-out;
	background:url(../images/oo_active.png);
}

#other_options .menu{
	display:none;
	background:#FFF;
	border:1px solid #CCC;
	position:absolute;
	left:0;
	top:24px;
	padding:5px;
}

.overlay{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow: #777 1px 3px 10px;
	border-radius:10px;
	margin-top:25px;
	padding-bottom:15px;
	background:#F6F6F6;
	display:none;
	/*border:1px solid #DDD;*/
	z-index:999;
	min-width:650px;
}

.overlay #cruz,.overlay .close{
	background:url(../images/close_overlay.png) no-repeat;
	width:37px;
	height:37px;
	position:absolute;
	right:-7px;
	top:-7px;
}

.title{
	background-color:#D3DCFD;
	color:#7A8597;
	font-size:22px;
	font-weight:bold;
}

table.tab{
	border: 1px solid #CCC;
	background: #F6F6F6;
	color: black;
	border-spacing: 0;
	border-left: 1px solid #CCC;
	border-collapse:collapse;
}

table.tab caption{
	border:1px solid #999;
	border-bottom-width:0;
	border-radius:10px 10px 0 0;
	moz-border-radius:10px 10px 0 0;
	background:#888 url(../images/tab-caption-bg.jpg) top center repeat-x;
	color:#FFF;
	padding:8px 0;
}

table.tab td{
	background: #FBFBFB;
	font-size: 12px;
	border: 1px solid #DDD;
	padding: 2px;
}

table.tab thead th{
	border: 1px solid #999;
	padding: 3px;
}

table.tab tfoot th{
	border: 1px solid #BBB;
	padding: 3px;
}

table.tab thead{
	background:#CCC;
	font-size:11px;
	line-height:17px;
	color:#333;
	font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-weight:bold;
}

table.tab tfoot{
	background:#DDD;
}

table.sortable th{
	cursor:n-resize;
}

table.tab a{
	color:#000;
	display:block;
}

table.tab a:hover{
	background-color:#DFFCDC;
}

table.tab a img{
	float:left;
}

/* Estilos del menu */
.accordion{
	/*border-left:1px solid #10B4EA;
	border-right:1px solid #10B4EA;*/
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	text-align:left;
}
.accordion h2{
	font-size:12px;
	background:#F7F7F7 url(../images/menu/parent_mid.gif) center;
	cursor:default;
	line-height:28px;
	color:#666;
	margin:0;
	padding-left:20px;
}

.accordion .current{
	background-image:url(../images/menu/parent_mid_ex.gif);
	border-color:#0066FF;
}

.accordion .pane {
	display:none;
	font-size:11px;
}

.accordion .accordion h2{
	/*border-left:1px solid #10B4EA;
	border-right:1px solid #10B4EA;*/
}

.accordion ul{
	list-style:none;
	margin:0;
	padding:0;
}

.accordion ul a:link,.accordion ul a:visited{
	display:block;
	color:#FFF;
	background:#80D9F7 url(../images/menu/parent_mid_3.gif);
	line-height:25px;
	padding-left:20px;
}

.accordion ul a:hover,.accordion ul a:active, .acc_active{
	background:#B6E9FA url(../images/menu/parent_mid_3_ex.gif) !important;
}

.button,.addbtn,.editbtn,.searchbtn,.delbtn,.checkbtn,.btnfilter_add,.btnfilter_save,.btnfilter_apply,.imgbtn{
	background:#F5F5F5;
	padding:4px;
	border:1px solid #AAA;
	color:#333 !important;
	font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin:3px;
	text-shadow:#DDD 0 0 5px;
	cursor:pointer;
}

#options_menu a{
	line-height:30px;
}

.disbutton{
	background-color:#FCFCFC !important;
	border:1px solid #DDD !important;
	color:#999 !important;
	cursor:default !important;
}

.addbtn{
	background-image: url(../images/addbtn.png);
	background-repeat:no-repeat;
	padding-left: 22px;
}

.editbtn{
	background-image: url(../images/editbtn.png);
	background-repeat:no-repeat;
	padding-left: 22px;
}

.searchbtn{
	background-image: url(../images/searchbtn.png);
	background-repeat:no-repeat;
	padding-left: 22px;
}

.delbtn{
	background-image: url(../images/delbtn.png);
	background-repeat:no-repeat;
	padding-left: 22px;
}

.checkbtn{
	background-image: url(../images/confirm.png);
	background-repeat:no-repeat;
	padding-left: 27px;
}

.imgbtn{
	background-repeat:no-repeat;
	background-position:center left;
	padding-left: 22px;
}

.btnfilter_add{
	background-image: url(../images/filter_add.png);
	background-repeat:no-repeat;
	padding-left: 22px;
}

.btnfilter_save{
	background-image: url(../images/filter_save.png);
	background-repeat:no-repeat;
	padding-left: 22px;
}

.btnfilter_apply{
	background-image: url(../images/filter_apply.png);
	background-repeat:no-repeat;
	padding-left: 22px;
}

select option{
	background:#F6F6F6;
	color:#666;
}

select{
	width:285px;
}

#options_menu{
	position:absolute;
	left:173px;
	top:95px;
	background:#EEE;
	padding:0 20px;
	z-index:992;
}

#options_menu #res_list{
	display:none;
	position:absolute;
	top:26px;
	left:24px;
	height:400px;
	overflow:auto;
	width:180px;
}

#options_menu #res_list a{
	line-height:normal !important;
}

/**
Permisos
**/
.list_permiso1{
	background:#F7F7F7;
	padding-left:20px;
	border-bottom:1px solid #CCC;
}

.list_permiso0{
	background:#F3F3F3;
	padding-left:20px;
	border-bottom:1px solid #CCC;
}

.list_permiso{
	border-top:1px solid #CCC;
	font-size:18px;
	line-height:22px;
}

.out_opt{
	position:absolute;
	left:-20px;
	top:0;
}

#overlay_alert_container{
	min-width:300px;
	width:450px;
	margin-top:100px;
	z-index:100000;
}

.tableSelectedRow{
	background-color: #DFFCDC !important;
}

.editableBox{
    background-color: #66E41B;
    border: 1px solid #53A40B;
    padding: 3px;
    line-height: 18px;
    color: #000 !important;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.editableBox img{
    width: 15px;
}

.div-overflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    padding: 2px;
}