#ruta_nota_venta{
	width: 300px;
	float:left;
	height:400px;
	overflow:auto;
}

#ruta_calendar{
	width:350px;
	float:left;
	background:#F6F6F6;
	border:1px solid #CCC;
	height:400px;
	overflow:auto;
}

#ruta_nota_venta, #ruta_calendar{
	/*Texto no seleccionable */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	cursor: default;
}

#ruta_nota_venta .nv_data{
	background:#CCC;
	border:1px solid #BBB;
	margin:2px;
}

#ruta_nota_venta .nv_header{
	background:#DDD;
	padding:2px;
}

#ruta_nota_venta .nv_active{
	background:#FFC !important;
}

#ruta_nota_venta .nv_detail{
	display:none;
	list-style:none;
	margin:0;
	padding:0;
	font-size:0.9em;
}

#ruta_nota_venta .nv_detail li{
	background:#FFF;
	border:1px solid #BBB;
	padding-left:5px;
	margin-left: 3px;
}

#ruta_nota_venta .togglebtn{
	background:#BBB;
	padding:2px;
	border:1px solid #999;
}

#ruta_calendar .calendar_hour_item{
	padding-top:20px;
	position:relative;
	border-bottom:1px solid #CCC;
}

#ruta_calendar .calendar_hour_item span{
	color:#AAA;
	border:1px solid #CCC;
	position:absolute;
	top:-1px;
	left:-1px;
}

#ruta_calendar .cal_dropable{
	cursor:pointer;
}

#ruta_calendar .cal_dropable:hover{
	background:#F0F9FF;
}

#ruta_calendar .nv_on_calendar{
	background:#E4EFF8;
	padding:2px;
	border:1px solid #9FC6E7;
	color:#777;
	margin-bottom:3px;
	text-align:left;
}

#detailDataContainer{
	float:left;
	width:370px;
	margin:0 5px;
}

#detailDataContainer .titleSpan{
	background:#EEE;
	color:#777;
	font-size:10px;
	display:block;
	border:1px solid #DDD;
	padding:1px;
}

#detailDataContainer .titleNotaVenta{
	margin:0;
	padding:0;
	font-size:20px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	background:#FFF;
	padding:3px;
}

#detailDataContainer .titleCliente{
	margin:0;
	padding:0;
	color:#444;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	background:#FFF;
	padding:3px;
}

#righterDiv{
	width:650px;
	float:left;
	overflow:auto;
	text-align:left;
	margin-top:-25px;
	margin-left:20px;
}

#calendar_navegating_days{
	width:350px;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	background-color: #DDD;
	border:1px solid #AAA;
}

#calendar_navegating_days .left{
	cursor:pointer;
	background-color:#EEE;
	padding:4px;
	border-right:1px solid #AAA;
}

#calendar_navegating_days .right{
	cursor:pointer;
	background-color:#EEE;
	padding:4px;
	border-left:1px solid #AAA;
}